# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Virtual Environment folder used in this project
WCA/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Project specific
*.txt
!requirements.txt
!stop_hinglish.txt
data/

# IDE
.vscode/
.idea/
